@import "tailwindcss";

/* Smooth Scroll behavior untuk anchor links (opsional) */
html {
  scroll-behavior: smooth;
}

/* Pastikan smooth scrolling bawaan browser dimatikan karena akan dihandle Lenis */
html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}